
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/static/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/static/style.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Martian+Mono:wght@100..800&display=swap" rel="stylesheet">
        <title>Calendar</title>
	</head>
	<body>
        {{range .Events}}
            <p>{{ .InstanceId }}</p>
        {{end}}
	</body>
</html>
